@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    * {
        font-family: "Ubuntu", sans-serif;
    }
    /* Scrollbar  */
    /* for scrollbar */
    ::-webkit-scrollbar {
        width: 10px;
        scrollbar-width: thin;
        scrollbar-color: #bcc0c4 transparent;
    }
    :hover {
        scrollbar-color: #bcc0c4 #e6e7eb;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 6px;
    }
    :hover::-webkit-scrollbar-thumb {
        background-color: #bcc0c4;
    }
    ::-webkit-scrollbar-track:hover {
        background: #e6e7eb;
    }
}
@layer components {
    .active-action {
        @apply bg-blue-harder;
        @apply text-orange;
    }
}
